<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.kyb"
    android:versionCode="1"
    android:versionName="1.0" 
 	android:installLocation="preferExternal"    
    >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="team.kyb.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity 
            android:name="team.kyb.database.UpdateScripture"
            android:label="@string/update_label">
            
        </activity>       
         <activity
            android:name="team.kyb.database.AddEditScripture"
            android:label="@string/addedit_label" >
        </activity>   
        
        <activity
            android:name="team.kyb.database.DisplayBooks"
            android:label="@string/displaybooks_label" >
        </activity>     
        
        <activity
            android:name="team.kyb.database.DisplayChapters"
            android:label="@string/displaychapters_label" >
        </activity>  
        
        <activity
            android:name="team.kyb.database.DisplayVerses"
            android:label="@string/displayverses_label" >
        </activity>         
        
      	<activity
            android:name="team.kyb.database.RandomScripture"
            android:label="@string/randomscripture_label" >
        </activity>  
        
        <activity
            android:name="team.kyb.database.Scriptures"
            android:label="@string/scriptures_label" >
        </activity>   
        
        <activity
            android:name="team.kyb.extragames.HangmanMain"
            android:label="@string/hangman_label" >
        </activity>         

    </application>

</manifest>
